---
import { Button } from "./ui/button";
---

<div class='flex justify-center mb-6'>
  <h1 class='text-3xl font-bold text-gray-900 text-center mb-8 mt-8'>Chat</h1>
  <a href='/' class='inline-block'>
    <Button variant='back'>Koniec na dziś</Button>
  </a>
</div>
